skeleton/__MODULE__/Schemas/DefaultSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.example.com/namespaces/tns/1716988357020" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://www.example.com/namespaces/tns/1716988357020">
      
  <xsd:element name="variable">
  <xsd:complexType>
  <xsd:sequence>
  
  <xsd:element name="first" type="xsd:string"/>
  <xsd:element name="second" type="xsd:string"/>
  </xsd:sequence>
  
  
  </xsd:complexType>
  
  
  </xsd:element>
  
  
</xsd:schema>
